FILES        = /home/andy/src/aweather-pkg/files

VER_AWEATHER = 0.8
VER_GRITS    = 0.8
VER_RSL      = 1.42

SRC_AWEATHER = /home/andy/src/aweather
SRC_GRITS    = /home/andy/src/grits
SRC_RSL      = /home/andy/src/rsl

WIN_AWEATHER = /home/andy/src/aweather-win32
WIN_GRITS    = /home/andy/src/grits-win32
WIN_RSL      = /home/andy/src/rsl-win32

MAC_HOST     = d
MAC_AWEATHER = /Users/andy/src/aweather
MAC_GRITS    = /Users/andy/src/grits
MAC_RSL      = /Users/andy/src/rsl
