FILES        = /scratch/aweather-pkg/files

VER_AWEATHER = 0.6.1
VER_GRITS    = 0.6.2
VER_RSL      = 1.42

SRC_AWEATHER = /scratch/aweather
SRC_GRITS    = /scratch/grits
SRC_RSL      = /scratch/rsl

WIN_AWEATHER = /scratch/aweather-win32
WIN_GRITS    = /scratch/grits-win32
WIN_RSL      = /scratch/rsl-win32

MAC_HOST     = d
MAC_AWEATHER = /Users/andy/src/aweather
MAC_GRITS    = /Users/andy/src/grits
MAC_RSL      = /Users/andy/src/rsl
